body {
  font-size: 10px;
   background-color: #ccffcc;
  font-family: 'Oxygen', sans-serif;
  width: 100%;
}

*{
	box-sizing: border-box;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: inherit;
}

#header-nav {
  background-color:#00ffff ;
  border-radius: 0;
  border: 0;
  width: 100%;
  padding-left: 0;
}
.container{
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;

}
.dropdown {
	width: 100%;
	}
li a{
	font-size: 30px;
	font-weight: bold;
}
li{
	border: 1px solid #000;
}

.navbar-brand h1 { /* company name */
  font-family: 'Lora', serif;
  color: #ff0066;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .80;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header{
	width: 100%;
}
.dropdown-menu{
	width: inherit;
	text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
    width: 15px;
   line-height:5;
   margin: 5px 0;
   text-align: center;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 0;
  position: absolute;
  height: 28px;
  top: -30px;
  right: 5px;
  width: 28px;
}


@media only screen and (min-device-width:768px) {
    .dropdown {  display: none; }

}


/* The dropdown container */

/* END HEADER */
.text-center{
	font-weight: bold;
	font-size:30px;
	text-align: center;
	color: black;
}

.container-fluid{
	box-sizing: border-box;
}
.chick{
	position: absolute;
	float: right;
	height:5%;
	width: 90%;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 50px;

}


.one{
	float: right;
	top: 40px;
		padding: 60px 5px 5px 5px;
		color:black;
		font-style: italic;
		font-size:20px;
		text-align: center;
		background: 	#D3D3D3;
		border: 1px solid;
		margin-bottom: 20px;
}
